{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_taleem/footer.
    Taleem footer layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
         "bodyattributes":""
    }
}}
{{#blockarrange}}
    <div class="Topbarsdiv topbar-inner">
        <div id="tab_content" class="container topbarinner">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-lg-2 topbar-email">
                    <div class="topbar-contact">    
                        {{#footerfooterphoneno}}
                            <p><i class="fa fa-footerphones-square"></i> {{footerfooterphoneno}}</p>
                        {{/footerfooterphoneno}}
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-lg-3 topbar-email">
                    <div class="topbar-contact">
                        {{#footeremailid}}
                            <p><i class="fa fa-envelope"></i> <a class="mail-link" href="mailto:{{footeremailid}}">{{footeremailid}}</a>
                            </p>
                        {{/footeremailid}}
                    </div>
                </div>
          
                <div class="col-md-6 col-sm-4 col-lg-7 media-icon">
                    <div class="social-media">
                            {{# fburls}}
                                <a href="{{fburls}}" target="_blank">
                                    <span class="media-icon">
                                    <i class="fa {{fb}} topbaricon"></i>
                                    </span>
                                </a>
                            {{/ fburls}}

                            {{# twurls}}
                                <a href="{{twurls}}" target="_blank">
                                    <span class="media-icon">
                                    <i class="fa {{tw}} topbaricon"></i>
                                    </span>
                                </a>
                            {{/ twurls}}

                            {{# gpurls}}
 
                                <a href="{{gpurls}}" target="_blank">
                                    <span class="media-icon">
                                    <i class="fa {{gp}} topbaricon"></i>
                                    </span>
                                </a>

                            {{/ gpurls}}

                            {{# pinurls}}
                                <a href="{{pinurls}}" target="_blank">
                                   <span class="media-icon">
                                   <i class="fa {{pi}} topbaricon"></i>
                                   </span>
                                </a>
                            {{/ pinurls}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <style scoped>
.col-md-6.col-sm-4.col-lg-7.media-icon {
    text-align: right;
}
i.fa.fa-twitter.topbaricon {
    background: #fa8842 !important;
    padding: 14px 11px;
    margin-top: -7px;
    color: #fff;
    margin-right: 5px;
}
.fa.fa-facebook-f.topbaricon {
    background: #97ce34;
    padding: 14px 14px;
    margin-top: -7px;
    color: #fff;
    margin-right: 5px;
}
i.fa.fa-google-plus.topbaricon {
    background: #2aace8;
    padding: 14px 8px;
    margin-top: -7px;
    color: #fff;
    margin-right: 5px;
}
i.fa.fa-pinterest-p.topbaricon {
    background: #8E558F;
    padding: 14px 13px;
    margin-top: -7px;
    color: #fff;
}
.topbar-inner{
    margin-top: 50px;
}
.topbar-contact a{
    color: #fff;
}
.header-main.additionalcss {
    margin-top: 0px;
}
@media only screen and (max-width: 767px){
    .topbar-inner{
        margin-top: 0px;
    }
}
</style>
</div>
{{/blockarrange}}